body {
  color: white;
  font-family: "Poppins", serif;
  background-color: rgb(0, 0, 33);
  background-color: black;
/*   background-color: #020205; */
    height: 100vh;
  width: 100vw;

}
header{
  width: 100vw;
}
main{
  width: 100vw;
}
#about{
  width: 100vw;
}
#sec-skill{
  width: 100vw;

}
#contact{
  width: 100vw;
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6rem;
  /* background-color: rgb(0, 129, 129); */
  /* border-bottom: 1px solid white; */
  /* background-color: rgba(255, 255, 255, .1) !important; */
  backdrop-filter: blur(10px);
  /* border-bottom: 2px solid rgba(255, 255, 255, .2); */
}

nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,
      transparent,
      rgba(255, 255, 255, 0.4),
      transparent);
  transition: 0.5s;
}

nav:hover::before {
  left: 100%;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  /* margin: 0 2rem; */
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
  list-style: none;
  font-size: 2rem;
  font-weight: 500;
  transition: 0.3s;
  margin: 0 2rem;
}

nav ul li a:hover {
  border: 2px transparent black;
  width: 5.5rem;
  height: 5.5rem;
  padding: 1rem;
  background-color: #d53f6fd7;
  background-color: pink;
  background-color: #ff004f;
  background-color: #f2f4f7;
  color: black;
  color: #020205;
  border-radius: 0.5rem;
  /* color: #262626;
  color: #fffdf2; */
}

.left {
  font-size: 1.5rem;
  font-weight: 600;
}

#first-sec {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
}

.left-sec {
  width: 40%;
  font-size: 3rem;
}

.right-sec {
  width: 30%;
}

.right-sec img {
  width: 90%;
  animation: img 6s ease-out infinite;
}

.right-sec img:hover {
  animation: none;
}

h1 {
  text-align: center;
  margin: 2rem;
  font-size: 3rem;
  text-decoration: underline;
}

.purple {
  color: rgb(144, 26, 255);

  font-weight: 500;
}

@keyframes img {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.line hr {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  opacity: 0.4;
}

#sec-skill {
  margin-top: 5rem;
  display: flex;
  background-color: black;
  flex-wrap: wrap;
}

.skill-1 {
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  width: 15rem;
  margin-right: 4rem;
  margin-bottom: 4rem;
  margin-left: 4rem;
  border-radius: 15%;
  flex-wrap: wrap;
}

.skill-1:hover {
  background-color: #ff004f;
  background-color: #a91d3a;
  background-color: white;
}

.skill-1 img:hover {
  animation: none;
}

.skill-1 img {
  width: 80%;
  height: 80%;
  animation: skill 20s ease-in-out infinite;
  margin: 0.5rem;
}

#img {
  width: 55%;
  height: 75%;
}

.fit {
  width: 16rem;
  height: 15rem;
}

@keyframes skill {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  /* 75% {transform: rotate(270deg);
    } */
  100% {
    transform: rotate(360deg);
  }
}

.font-wt {
  font-weight: 900;
}

#about {
  margin: 4rem 0;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-para {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  border: 1px solid white;
  height: 100%;
  border-radius: 10%;
  padding: 1rem 2rem;
}

#elment1 {
  font-size: 2rem;
  margin: 3rem;
  line-height: 1.8;
}

#contact {
  display: flex;
  justify-content: space-around;
}

.left-contact {
  margin-top: 10rem;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.right-contact {
  width: 60%;
}

.left-contact a,
i {
  font-size: 1.5rem;
  text-decoration: none;
  padding-right: 0.75rem;
  color: white;
}

.icon {
  margin-top: 3rem;
}

.icon i {
  font-size: 2.5rem;
  opacity: 0.5;
}


.icon i:hover {
  color: white;
  opacity: 1;
  width: 2.5rem;
  height: 2.5rem;
  /* padding: 0.75rem; */
  border-radius: 0.5rem;
  /* color: #ff004f */

  font-weight: 400;
}

.name input {
  width: 80%;
  color: #fff;

  height: 3.5rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  border: none;
  padding: 1rem;

  background-color: #262626;
}

.name input:hover {
  border: 0.1px solid white;
}

.mail input:hover {
  border: 0.1px solid white;
}

.mail input {
  width: 80%;
  height: 3.5rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  background-color: #262626;
  border: none;
  padding: 1rem;
}

.area textarea:hover {
  border: 0.1px solid white;
}

.area textarea {
  width: 80%;
  /* opacity: .5; */
  height: 12rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  background-color: #262626;
  color: #fff;
  border: none;
  padding: 1rem;
}

#btn {
  margin-top: 2rem;
  font-weight: 800;
  border-radius: 0.5rem;
  border: none;
  height: 4rem;
  width: 10rem;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fffdf2;
}

.button-download {
  margin-top: 2rem;
}

.btn1 {
  width: 16rem;
  padding: 0.5rem;
  height: 4rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 10%;
}

.btn2 {
  background-color: #020205;

  border: 1.5px solid white;
  margin-left: 2rem;
  color: white;
  color: #f2f4f7;
  background-color: #102c57;
}

.Resume:hover {
  background-color: #020205;
  color: #f2f4f7;
  border: 1px solid white;
}

.btn2:hover {
  color: #f4dfc8;
  background-color: #020205;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
#element1{
  font-size: 2rem;
 } 

footer p {
  font-size: 1rem;
  text-align: center;
}
@media screen and (max-width:1635px){
  .btn{
    margin-left: 5rem;
  }
  
}
 @media screen and (max-width:1487px) {
  #sec-skill{
    flex-wrap: wrap;
  }
  .skill-1{
    margin: 2.5rem;
    width: 13rem;
    height: 13rem;
    flex-wrap: wrap;
    margin-right: 2rem;
  }
 } 
 @media screen and (max-width:1470px) {
  body{
    font-size: 1.8rem;
  }
  .left-sec p,div{
font-size: 1.8rem;
  }
#element{
font-size: 1.8rem;
}
#element1{
  font-size: 1.8rem;
}
nav ul li a {
  font-size: 1.8rem;
}
.btn a{
  font-size: 1.4rem;
  margin-left: 0rem;
  width: 14rem;
}
 }
 @media screen and (max-width:1419px) {
  .btn{
margin-bottom: 1.5rem;
  }
.skill-1{
  margin-right: 1rem;
}

 }
@media screen and (max-width:1340px) {
  
  .skill-1{
    /* margin-right: 2rem; */
    margin-right:4rem;
  }
}
@media screen and (max-width:1264px) {
  
  .skill-1{
    margin-right:3rem;
  }
}
@media screen and (max-width:1200px) {
  
  .skill-1{
    margin-right:2rem;
  }
}
@media screen and (max-width:1136px) {
  
  .skill-1{
    margin-right:2rem;
    margin-left: 2rem;
  }
  .left{
    display: none;
  }
 .name input{
    width: 70%;
    height: 3rem;
    }
    .mail input{
      width: 70%;
      height: 3rem;
    }
    .area text-area{
      width: 70%;
      height: 10rem;
    } 

}
@media screen and (max-width:1104px) {
  
  .skill-1{
    margin-right:1.8rem;
    margin-left: 1.8rem;
  }
  #element1{
    font-size: 1.5rem;
  }
}
@media screen and (max-width:1091px) {
  
  .skill-1{
    margin-right:1.4rem;
    margin-left: 1.4rem;
  }

}
@media screen and (max-width:1027px) {

.skill-1{
  margin-right: 4rem;
  margin-left: 3rem;
}

 #element1{
  font-size: 1.5rem;
 } 
 .name input{
  width: 60%;
  height: 2.5rem;
  }
  .mail input{
    width: 60%;
    height: 2.5rem;
  }
  .area text-area{
    width: 60%;
    height: 8rem;
  }
  .icon i{
    font-size: 2rem;
  }
  .left-contact{
    width: 40%;
    margin-right: 4rem;
  }
  .left-contact a,i{
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  #btn {
    height: 3.45rem;
    width: 8rem;
    font-size: 1.25rem;
   
  }
  h1{
    font-size: 2rem;
  }
  
 
}

/* .right-sec img{
  width: 2rem;
  display: none;
} */


  /* button */
.btn {
    margin-left: 1.5rem;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    width: 16rem;
    height: 4rem;
    font-size: 1.5rem;
    font-weight: 700;
    border: 1px solid white;
  }
  .btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  /* glow */
  .btn::before {
    content: "";
    background: linear-gradient(
      45deg,
      #FF0000, #FF7300, #FFFB00, #48FF00,
      #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
  }
  
  @keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
  }
  
  /* hover */
  .btn:hover::before {
    opacity: 1;
  }
  
  .btn:active:after {
    background: transparent;
  }
  
  .btn:active {
    color: #000;
    font-weight: bold;
  }
